<%- include('partials/header'); -%>

    <h1>To jest strona główna2</h1>
    <p>Przejdź do <a href="/kontakt">kontakt</a></p>
    <p>Przejdź do <a href="/profile">profile</a></p>
    <p>Przejdź do <a href="/firmy/brukmode">company</a></p>
<%- include('partials/footer'); -%>